@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.memim
{
    height: 50px;
    background-color:  #A427E7;
    text-align: center;
    font-size: 25px;
    font-family: "Permanent Marker", cursive;
    
    /* estas 3 lineas es para centrar todo */
    display: flex;
    justify-content: center;
    font-family: "Permanent Marker", sans-serif;
    
}

.memim a
{
    color: white;
    text-decoration: none;
    margin: 3px;
    
    height: 100%;
    width: 200px;
    background-color: teal;
    
    display: flex;
    justify-content: center;
    font-family: "Permanent Marker", sans-serif;
    
}



.cody{
    /* Estas 3 líneas son para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
    
    
    /* Esta línea es para el color de fondo */
    background-color: saddlebrown;
    
    /* Esta línea es para el color de letras */
    color: lavender;
    
    
    /* Esta línea es para el color del cuadrado */
    
    height: 180px;
    
    
}

.majinboo{
    /* Estas 3 líneas son para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
    
    /* Esta línea es para el color de fondo */
    background-color: beige;
    
}

.mistromenestra{
    /* Estas 3 líneas son para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    
    /* Esta línea es para el color de fondo */
    background-color: rosybrown;
    
}


.negron{
    /* Estas 3 líneas son para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    /* Esta línea es para el color de fondo */
    background-color: lemonchiffon;
    
}

.quishpe{
    /* Estas 3 líneas son para centrar */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    
    /* Esta línea es para el color de fondo */
    background-color:khaki;
    
    flex-direction: column;
}


