.menu
{
    background-color: #E2E2E2;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.dive1 {
    background-color: #FFF0AC;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;
}

.imag {
    background-color: white;
    height: 100%;
    font-weight: 500px;
        
    display: flex;
    justify-content: center;
    align-items: center;    
}

.imag img{
    width: 100%;
    height: 100%;
}

.end {
    background-color: #D1EAFF;
    height: 100px;
    
    display: flex;
    justify-content: center;
    align-items: center;   
}
